# See https://help.github.com/articles/ignoring-files/ for more information about ignoring files.

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
assets/

# Django stuff:
*.log
db.sqlite3

# Environments
.env